<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <link rel="stylesheet" href="../static/lib/normalize.css">
    <link rel="stylesheet" href="../static/lib/skeleton.css">
</head>
<body>
    <nav>&nbsp;</nav>
    <div class="container">
        <form method="get">
            <label for="add">Aufgabe hinzufügen: </label>
            <input type="text" name="{{adding_task}}" id="add">
            <input type="submit" value="Hinzufügen">

            Das ist ein test {{adding_task}}
        </form>
    </div>
</body>
</html>